.appContainer {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
}

.jsonContainer {
  width:80%;
  height:100%;
  margin:auto;
}

.selectContainer {
  margin: 10px auto;
  width: 50%;
}

.charts{
  width: 50%;
  margin:auto;
  float: left;
  padding: 5px;
}

.chart {
  width: 50%;
  margin:auto;
}

.chartSelectContainer {
  margin: 5px;
  width: 45%;
  display:inline-block;
}
